/**顶部菜单**/
.headerMenu {
    position: absolute;
    left: 190px;
    bottom: 2px;
    width:1200px;
    display: inline;
    overflow: hidden;
    /*background-color: #00ee00;*/
}

/**
 * 左侧菜单样式
 */
.leftMenu {
    width: 100%;
    height: 100%;
    overflow: hidden;
}